<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi Ubicacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button color="light" (click)="requestPermissions()">
    Permisos de Ubicacion
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-button (click)="getCurrentCoordinate()">
        Obtener coordenadas actuales
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      Latitud: {{coordinate?.latitude }}
      Longitud:{{ coordinate?.longitude }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-button color="secondary" (click)="watchPosition()">
        Coordenadas auto-actualizadas 
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      Latitud: {{watchCoordinate?.latitude }}
      Longitud: {{ watchCoordinate?.longitude }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-button (click)="scheduleBasic()" expand="block" color="dark">Mostrar notificacion</ion-button>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-button (click)="distanciaentre2()" expand="block" color="dark">CALCULAR DISTANCIA</ion-button>
    </ion-card-header>
  </ion-card>

  <ion-button color="danger" (click)="clearWatch()">Detener actualizacion</ion-button>
</ion-content>